<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="A simple application that accesses and displays stock data from the Alpha Vantage API."/>

    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/app.css}"/>

    <title>Xcelerate: Error</title>

</head>

<body>

    <h1>There was an error fetching the info for this stock...yikes</h1>
    <a href="/"><button type="button">Return Home</button></a>
</body>

</html>